.Posts{
    margin: 30px 0;
}
.Posts-item{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.Posts-title{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 8px;
}
.Posts-div{
    display: flex;
    justify-content: space-between;
}
.delete-btn{
    background-color: rgb(217, 83, 79);
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 16px;
    margin-left: 30px;
}
.Posts-text{
    font-size: 18px;
    opacity: 0.75;
}
@media (max-width: 600px) {
    .Posts-div{
        display: block;
    }
    .delete-btn{
        margin: 8px 0 0;
    }
}
